<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/user/login">
        <h2>Enter Credentials to LOGIN</h2>
        <lable for="email">Enter email</lable>
        <input type="text" name="email" />
        <lable for="password">Enter password</lable>
        <input type="text" name="password" />
        <button>Login</button>
    </form>
</body>
</html>