<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    * {
        font-family: Roboto;
    }
</style>
<body>
    <h1>Signup</h1>
    <form method="POST" action="/user/signUp">
        <h2 for="url">Enter Credentials to SIGNUP</h2>
        <lable for="name">Enter name</lable>
        <input type="text" name="name" />
        <lable for="email">Enter email</lable>
        <input type="text" name="email" />
        <lable for="password">Enter password</lable>
        <input type="text" name="password" />
        <button>Signup</button>
    </form>
</body>

</html>